<html>

<head>
        <link rel="stylesheet" href="stylesheets/splash.css" type="text/css">
        <title>Mastermind</title>
        <link rel="shortcut icon" type="image/x-png" href="images/favicon.png" />
</head>

<body>
        <img src="images/logo.png" id="logo">
        <div class="buttons">
                <form action="/play">
                        <button id="one">Play</button>
                </form>
                <form action="/offline">
                        <button id="two">Play Offline</button>
                </form>

                <form action="/rules">
                        <button id="three">How to play ?</button>
                </form>
        </div>

        <p id="p1">Players in a Game:
                <%= inGamePlayers %>
        </p>
        <p id="p2">Games Initialized:
                <%= gamesInitialized %>
        </p>
        <p id="p3">Players waiting in Queue:
                <%= queuePlayers %>
        </p>
        <p id="p4">
        </p>
</body>
        <script src="javascripts/cookie.js"></script> 
</html>