@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import 'animations.css';
@import 'adjustements.css';
@import 'queue.css';

* {
	margin: 0;
	padding: 0;
}

html,body {
	background-color: rgb(112, 112, 112);
}

  
.screen:-webkit-full-screen {
	background-color:#808080;
	height: 100%;
	width: 100%;
} 

#game {
	display: none;
}

/*    Game Duration    */
#time {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(220, 220, 220);
	position: absolute;
	top: 8;
	right: 15;
}

/*    Game Status    */
.console {
	border: 1px solid rgb(220, 220, 220);
	width: 480px;
	height: 100px;
	background-color: #AFABAB;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

#status {
	width: 100%;
	padding: 10px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	color: rgb(112, 112, 112);
}

#status:after {
	content: " _";
    animation: blinking 0.9s steps(3, start) infinite;
}


/*    Buttons    */
.buttons {
	margin: 10px;
	width: 30px;
}

#exit_fullscreen,
#fullscreen,
#exit,
#new {
	position: absolute;
	height: 30px;
	width: 30px;
	padding-bottom: 5px;
}

#exit_fullscreen:hover,
#fullscreen:hover,
#exit:hover,
#new:hover {
	cursor: pointer;
}

#exit_fullscreen,
#fullscreen {
	top: 80px;
	left: 10px;
}

#exit {
	top: 10px;
	left: 10px;
}

#new {
	top: 45px;
	left: 10px;
}

#exit_fullscreen{
	display: none;
}
/*    Mastermind Table    */
.mastermind {
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
	width: 550px;
	height: 650px;
}

.mastermind button {
	font-family: 'Roboto', sans-serif;
	display: none;
	position: absolute;
	width: auto;
	background-color: #AFABAB;
	outline: none;
	border: 2px solid black;
	width: 58px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.mastermind button:hover {
	animation: rainbow 10s infinite;
	animation-fill-mode: forwards;
	cursor: hand;
}

.mastermind img {
	display: none;
	position: absolute;
	width: 58px;
}

#table {
	left: 75;
	display: block;
	margin: 0 auto;
	width: 400px;
}

/*    Colour Table    */
.colours {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 550px;
	height: 60px;
}

.game #colour_table {
	display: block;
	margin: 0 auto;
	width: 550px;
	height: 60px;
}

/*    Opponent    */

.opponent {
	position: relative;
	float: right;
	width: 268px;
	height: 427px;
	margin-right: 150px;
	margin-top: 100px;
}

.opponent img {
	display: none;
	position: absolute;
	width: 38px;
	height: 38px;
}


#oppponent-table {
	display: block;
	position: relative;
	width: 268px;
	height: 427px;
}

.opponent p {
	border-radius: 5px;
	border: 2px solid black;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #AFABAB;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: -50px;
	left: 20px;
	color: black;
}

.opponent p:hover {
	animation: rainbow 10s infinite;
	cursor: default;
}

.opponent span {
	width: 25px;
	height: 25px;
}

/*    Circles    */
span {
	position: absolute;
	border: 2px solid black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 33px;
	height: 33px;
}


.block_circles span {
	width: 11px;
	height: 11px;
	border: 1px solid black;
}


.opponent_block_circles span {
	width: 9px;
	height: 9px;
	border: 1px solid black;
}

.opponent_block_circles,
.block_circles {
	display: none;
}

.console span {
	position: relative;
	border: none;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	width: auto;
	height: auto;
}